/* FULL PAGE */
.login-page {
  width: 100vw;
  height: 100vh;

   background: linear-gradient(270deg, #111011, #112118, #effafa);
  background-size: 600% 600%;
  animation: gradientShift 15s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

/* TITLE */
.app-title {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 600;
  color: #140e1e;
}
/* WELCOME TEXT */
.welcome-text {
  font-size: 20px;
  color: #210be9;
  margin-bottom: 20px;
  text-align: center;

}

/* INPUTS */
.login-input {
  width: 320px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 15px;
  outline: none;
}

/* BUTTON */
.login-button {
  width: 300px;
  padding: 10px;
  font-size: 15px;
  background: hsl(240, 98%, 50%);
  color: rgb(248, 244, 244);
  border: none;
  border-radius: 14px;
  cursor: pointer;
}
.input-wrapper {
  position: relative;
  width: 340px;
   display: flex;           
  justify-content: center; 
}
.input-wrapper .login-input {
  width: 100%;
  padding-left: 13px;
}
.input-wrapper .input-icon {
  position: absolute;
  left: 310px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.login-button:hover {
  background: #869685;
}
.forgot-password {
  width: 300px;
  text-align: left;
  font-size: 20px;
  color: #01070d;
  cursor: pointer;
  margin-top: -5px;
}

.forgot-password:hover {
  text-decoration: underline;
}
.password-wrapper {
  position: relative;
  width: 340px;
   display: flex;           
  justify-content: center; 
}

.password-wrapper .login-input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #151515;
  cursor: pointer;
  user-select: none;
}
